<app-ubigeo-table title="Departamentos" [items]="departamentos"></app-ubigeo-table>
<app-ubigeo-table title="Provincias" [items]="provincias"></app-ubigeo-table>
<app-ubigeo-table title="Distritos" [items]="distritos"></app-ubigeo-table>