<h2>{{title}}</h2>
<table class="footable">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Código Padre</th>
      <th>Descripción Padre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.codigo }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.codigoPadre }}</td>
      <td>{{ item.descripcionPadre }}</td>
    </tr>
  </tbody>
</table>
